<h1>Signup</h1>

<form action="/signup" method="POST">
    <div class="item">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>

    <div class="item">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <span class="helper"></span>
    </div>

    <button type="submit">Sign up!</button>
</form>

{{#if message}}
<p>{{message}}</p>
{{/if}}
